<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="assets/icon.png" height="30" width="30" fill="none" class="d-block ml-4"/>
      <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
    </div>
    <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/aboutus">About Us</a></li>
      </ul>
    </div>
  </div>
</footer>
