<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">HyperReals</h1>
    <p class="lead font-weight-normal">A web plataform developed by computer engineering students to help people share books and knowledge.</p>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-success mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Why use HypperReals platform?</h2>
      <p class="lead">A strong community is built through the connection between people.</p>
      <p class="lead">Therefore, our app allows people to connect through their interest in reading and learning.</p>
      <p class="lead">In addition, we also consider the location factor for connecting people.</p>
      <p class="lead">This will allow geographically close people to share books and knowledge to strengthen the community in which they live.</p>
      <p class="lead"><span style="font-style: italic;">Changing a society through education is our greatest wish.</span></p>
    </div>
  </div>
  <div class="bg-info mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Who is our project for?</h2>
      <p class="lead">Our project is for the community.</p>
      <p class="lead">A society with transformative capacity is able to grow constantly.</p>
      <p class="lead">The goal is not the book. The goal is not the paper. The goal is to learn.</p>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Who is our project for?</h2>
      <p class="lead">Our project is for people.</p>
      <p class="lead">Our goal is to help individuals in a society develop a transformative capacity.</p>
      <p class="lead">Sharing books and knowledge is the big goal. It is important to remember that good goals elevate the individual and the community in which he is inserted.</p>
    </div>
  </div>
  <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Who is our project for?</h2>
      <p class="lead">Our project is for the planet.</p>
      <p class="lead">Plurality is the law of the earth.</p>
      <p class="lead">Our project will not help Earth. Our project will help people and people will help the earth.</p>
    </div>
  </div>
</div>
