<div class="card mt-3" style="width: 80%; margin-left: 10%; margin-right: 10%;">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title">About Us</h5>
    <img class="card-img-top mb-3" src="assets/img1.jpg" alt="Card image cap" style="max-height: 300px; width: auto; max-width: 100%;">
    <div class="card-text">
    	<ul>
			<li>We are undergraduate student in Computer Engineering at CEFET / RJ in Brazil.</li>
			<li>We are software developers.</li>
			<li>We are team with a growth mindset.</li>
			<li>We believe a technology is useful if it can change the life of a community.</li>
			<li>We are navigators of the infinite universe of computing.</li>
			<li>We are a team whose greatest desire is to improve our blue planet through technology.</li>
		</ul>	
    </div>
  </div>
</div>