.round {
	border-radius: 50%;
	z-index: 100;
	right: 10px;
	top: 5px;
}

.cadastroLivro{
	position: absolute;
	background-color: #20c997; 
	z-index: 100;
	right: 10px;
	top: 50px;
}

.acima {
	z-index: 1000!important;
}

.abaixo {
	z-index: 0!important;
}